/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer
entry/ohos_deps/*
!entry/ohos_deps/.gitkeep
entry/.cxx
third_party/ohos_sdl2_build/
local.properties.bak*
**/local.properties
!**/.gitkeep
*.hap
.hvigor/report/
.DS_Store
Thumbs.db
*.log